*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Comportamiento del scroll suave*/
    scroll-behavior: smooth;
    /*Variables colores*/
    --orange: #FF7143;
    --blue: #5454d4;

}

body{
    font-family: 'Archivo', sans-serif;
}

.container{
    width: 90%;
    /*Tamaño maximo de la pagina*/
    max-width: 1200px;
    margin: 0 auto;
    /*Si se sobrepasa el contenido se esconde*/
    overflow: hidden;
    /*Relleno de los lados*/
    padding: 80px 0;
}

.container--hero{
    padding: 0;
}

.hero_nav{
    height: 80px;
    /*Elementos uno del lado del otro*/
    display: flex;
    align-items: center;
    /*Justificacion*/
    justify-content: space-between;
}

.nav_menu{
    background-color: var(--orange);
    width: 35px;
    /*Manita como cursor*/
    cursor: pointer;
    /*Se sobrepone a todo elemento */
    z-index: 100;
    border-radius: 5px;
}

.nav_list{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding: 80px 0;
    display: grid;
    /*Centra el contenido*/
    place-content: center;
    /*Alinia el texto al centro*/
    text-align: center;
    gap: 2.5rem;
    /*Quita iconos de lista*/
    list-style: none;
    /*Esconde a la izquierda*/
    transform: translate(-100%);
    /*Tiempo en lo que esconde*/
    transition: transform .3s;
}

.nav_list--show{
    /*Muestra la lista*/
    transform: translate(0);
}

.nav_link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.hero_main{
    /*Llenar espacio vacio*/
    display: flex;
    /*Trata elemento como columna*/
    flex-direction: column;
    gap: 40px;
}

.hero_figure{
    /*Orden de la imagen cambiada*/
    order: -1;
    padding: 20px 0;
}

.hero_img{
    width: 100%;
    /*Trata este elemento como bloque*/
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.hero_texts{
    /*Hace el elemento como una cuadricula*/
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 70px;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: .5rem;
}

.hero_cta{
    background-color: var(--blue);
    /*Color letra*/
    color: #fff;
    /*Le quita el subrayado*/
    text-decoration: none;
    padding: 1em 3em;
    justify-self: center;
    border-radius: 6px;
}